doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Business Intelligence

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='fonts/icons.css')
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Playfair+Display:400,700,900|Alegreya+Sans+SC:400,700,900|Alegreya+SC:400,700,900', rel='stylesheet', type='text/css')

  body

    article

      section.centered#slide-front
        h1 Business Intelligence
        h6 Prospecção para instituição educacional

      section.centered
        h5 UNIVERSIDADE DA REGIÃO DE JOINVILLE
        h5 BACHARELADO EM ENGENHARIA DE SOFTWARE
        h5 PROJETO INTEGRADOR
        h5 PROFESSOR ANDERSON DE SOUZA
        br
        br
        h5 VANDERLEI SBARAINI AMANCIO

      section
        h2 Tema
        p Estudo da necessidade e importância do <em>Business Intelligence</em> na instituição de ensino pesquisada

      section
        h2 Objetivos do Projeto
        p Informação sobre dados
        p Viabilidade do BI
        p Apresentação de soluções

      section
        h2 Motivação
        p Utilização otimizada de informações
        p Decisões críticas
        p Otimização de tempo

      section.special-1
        p Sistemas de Informação
        div.icon
          span.icon.icon-ibook-laptop

      section.centered
        h3 Sistema de Informação (SI)
        p.quote [...] é um conjunto de componentes que possuem inter-relação, com a finalidade de coletar, processar, armazenar e distribuir informações destinadas a apoiar a tomada de decisões, a coordenação e o controle de uma organização.
        p.quote-author Laudon e Laudon (2011)

      section.centered
        h3 Fluxo de dados, informações e conhecimento
        img(src='images/slide_fluxograma_si.png')

      section
        h3 Processos do SI
        p Entrada
        p Processamento
        p Saída
        p Feedback

      section
        h3 Classificação de Sistemas
        p Sistemas de Nível Operacional
        p Sistemas de Nível de Conhecimento
        p Sistemas de Nível Estratégico
        p Sistemas de Nível Gerencial

      section.centered
        h3 Pirâmide de Níveis Estratégicos
        img(src='images/slide_niveis.png')

      section.special-1
        p Decision Support Systems
        p Executive Information Systems

      section
        h3 O que querem os administradores?
        p Projeções
        p Análises de mercado
        p Análises de risco
        p Avaliação de desempenho
        p Capacidade produtiva

      section
        h3 Decision Support Systems (DSS)
        p Auxílio na tomada de decisões em todos os níveis gerenciais
        p Apoio a decisões interdependentes e/ou sequenciais

      section
        h3 Executive Information Systems (EIS)
        p Facilidade em relação aos DSS
        p Foco maior na alta gerência

      section
        h3 Mas...
        p Comum que informações não pudessem ser reutilizadas

      section.special-1
        p Bancos de Dados

      section
        h3 Bancos de dados
        p Sistema computadorizado de armazenamento de registros
        br
        p Presentes em diversos tipos de equipamentos

      section
        h3 Tipos
        p Bancos de dados tradicionais
        p Bancos de dados multimídia
        p Geographic Information Systems
        p Data Warehouse

      section.centered
        h3 Banco de dados
        p.quote é uma coleção de dados logicamente coerente [...] em que um grupo de usuários estejam interessados em suas informações
        p.quote-author Navathe <em>et al</em> (2011)

      section
        h3 Minimundo / Universe of Discourse (UoD)
        p O banco de dados é uma representação de algum aspecto real
        br
        p Mudanças realizadas no minimundo refletem no banco de dados

      section
        h3 Database Management System (SGBD)
        p Isola usuários do banco de dados dos detalhes do nível de hardware
        br
        p Oracle, MySQL, Microsoft SQL Server, PostgreSQL, DB2, MongoDB, Sybase, Cassandra

      section
        h3 Metadados
        p Especificação de tipos
        p Especificação de estruturas
        p Restrições de dados

      section.centered
        h3 Metadados
        p.quote Metadados são todas as informações do ambiente do data warehouse que não são seus próprios dados.
        p.quote-author Kimball <em>et al</em> (1998a)

      section
        h3 Metadados
        p Independência de dados do programa
        p Independência da operação do programa
        p On-line Transaction Processing (OLTP)

      section.centered
        h3 Arquitetura Simplificada
        img(src='images/arquitetura_sgbd.gif')

      section.centered
        h2 Mas... Mas... Mas...

      section.special-1
        h1 Data Warehouse

      section
        h3 Data Warehouse
        p Poder de processamento
        p Técnicas analíticas
        p Sistemas de apoio à decisão
        p Estruturas lógicas dimensionais

      section
        h3 Data Warehouse
        p Coleção de dados orientada a assunto
        p Integrada
        p Não volátil

      section.centered
        img(src='images/daddy_bill.jpg')

      section
        h3 DW segundo Bill Inmon (1993)
        p Modelo único e integrado
        p Análise BRA (Business Requirements Analysis)
        p Modelagem de dados
        p Análise das fontes de dados
        p Projeto e Design

      section.centered
        img(src='images/kimball.jpg')

      section
        h3 DW segundo Ralph Kimball (1993)
        p Projetos de Data Mart separados
        p Integração na medida da evolução
        p Projetos menores e independentes

      section.special-1
        p On-line Analytical Processing

      section
        h3 OLAP vs OLTP

    script(src='build/build.js')
